@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Inspiration&family=Nothing+You+Could+Do&family=Poppins:wght@300;400;500;700&display=swap');

@font-face {
    font-family: digital-7;
    src: url('digital-7.ttf');
}

:root{
    --light0color : #fff200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    background-color: black;
    color: white;
    gap: 10px;
}

p{
    color: rgb(255, 208, 0);
}

p span{
    color: rgb(252, 92, 0);
}

.clock{
    display: flex;
    
}

.clock div{
    font-family: digital-7;
    width: 50px;
    height: 50px;
    font-size: 50px;
    /* background-color: red; */
}

