@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Inspiration&family=Nothing+You+Could+Do&family=Poppins:wght@300;400;500;700&display=swap');

@font-face {
    font-family: digital-7;
    src: url('digital-7.ttf');
}

:root{
    --light0color : #fff200;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #0b3241;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
    gap: 50px;
}

h2{
    color: #08e9cb;
    font-size: 50px;
    font-weight: 500;

}

.fram{
    width: 600px;
    height: 300px;
    background-color: rgb(0, 0, 0);
    border: 30px solid #08e9cb;
    border-radius: 20px;
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 230px; 
    box-shadow: rgba(61, 61, 61, 0.3) 0px 19px 38px, rgba(46, 46, 46, 0.22) 0px 15px 12px;
}

.clock{
    font-family: digital-7; 
    color: rgb(255, 255, 255);
    text-shadow: 0 0 20px var(--light0color);
    position: relative;
}

.clock::after{
    content: attr(data-text);
    position: absolute;
    left: 55px;
    top: 0;
    filter: blur(40px);
}

.clock::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--light0color);
    width: 100%;
    height: 100%;
    opacity: 0.1;
    filter: blur(40px);
}


