@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Inspiration&family=Nothing+You+Could+Do&family=Poppins:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #b2bec3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

h2{
    color: #2c3a47;
    font-size: 50px;
    font-weight: 500;
}

.fram{
    width: 600px;
    height: 300px;
    background-color: #2c3a47;
    border: 50px solid #58b19f;
    border-radius: 20px;
    color: white;
    font-size: 80px;
    text-align: center;
    line-height: 200px;
}


